.about {
    position: relative;
    margin-bottom: 15rem;

    &__wrapper {
        position: relative;
        min-height: 75.5rem;
    }

    &::before {
        content: '';
        position: absolute;
        width: 101.3rem;
        height: 51.7rem;
        background: url(../images/cloud.png) no-repeat center / contain;
        pointer-events: none;
        z-index: 1;
        top: -6rem;
        left: 0;
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 4.5rem;
        z-index: 2;
    }

    &-text {
        font-family: $font-second;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #455A64;
    }

    &-logo {
        flex-shrink: 0;
        display: flex;
        width: 54rem;
        height: 16.7rem;
        margin-top: -5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 62.8rem;
        pointer-events: none;
        left: 0;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            width: 187.2rem;
            height: 77.7rem;
            background: url(../images/about-bg.png) no-repeat center / contain;
            z-index: -1;
            top: -17rem;
            right: -20rem;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 15rem 0 15rem 15rem;
        }

        &-tree {
            position: absolute;
            width: 39rem;
            height: 38.8rem;
            object-fit: contain;
            object-position: center;
            bottom: 0.5rem;
            right: -9.4rem;
        }
    }
}