.benefits {
    margin-bottom: 8.5rem;

    &__wrapper {
        background: url(../images/benefits-bg.png) no-repeat center / cover;
        padding: 4rem 0 6.5rem;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 3.5rem;
        width: calc(33.33% - 1.6rem);
        height: 14.8rem;
        background-color: rgba(#fff, 0.2);
        box-sizing: border-box;
        box-shadow: 0 0 3rem 0 rgba(#000, 0.03);
        padding-left: 4.8rem;
        border: #fff 0.2rem solid;
        border-radius: 6rem;

        &-image {
            display: flex;
            justify-content: end;
            width: 5.2rem;
            height: 5.2rem;

            img {
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        &-text {
            font-weight: 700;
            font-size: 3rem;
            line-height: 100%;
            color: #455A64;
            padding-top: 0.5rem;
        }
    }
}