.footer {
    position: relative;
    padding: 3.5rem 0 2rem;
    background: url(../images/footer-bg.png) no-repeat center / cover;

    @media #{$lg} {
        padding: 1.7rem 0;
    }

    &__content {
        background-color: rgba(#fff, 0.02);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 2.4rem 3.8rem 3rem 4.8rem;
        border: #fff 0.4rem solid;
        border-radius: 6rem;

        @media #{$lg} {
            padding: 3rem 1rem 6rem;
            border-radius: 3rem;
        }
    }

    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        @media #{$lg} {
            margin-bottom: 2.5rem;
        }
    }

    &__logo {
        flex-shrink: 0;
        display: flex;
        width: 23rem;
        height: 7rem;
        margin-top: 0.7rem;

        @media #{$lg} {
            width: 15.8rem;
            height: 4.9rem;
            margin-top: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .menu {
        @media #{$lg} {
            display: none;
        }

        ul li a {
            color: #8098A3;
            padding: 0 3rem 1.6rem;

            &:hover, &.active {
                color: $color-active;
            }
        }
    }

    .phone {
        height: 7rem;
        background-color: rgba(#fff, 0.5);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 1.5rem 3.2rem 1rem 2rem;
        border-radius: 10rem;

        @media #{$lg} {
            height: auto;
            background-color: transparent;
            backdrop-filter: none;
            padding: 0;
            border-radius: 0;
            padding: 0;
        }

        &__image {
            @media #{$lg} {
                display: none;
            }
        }

        &-call {
            @media #{$lg} {
                font-size: 2.5rem;
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: end;

        @media #{$lg} {
            flex-direction: column-reverse;
            align-items: start;
            gap: 3rem;
        }
    }

    &-copyright {
        display: flex;
        align-items: center;
        gap: 2rem;

        @media #{$lg} {
            flex-direction: column;
            align-items: start;
            gap: 1rem;
        }

        p {
            font-family: $font-second;
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $color-text;
        }
    }

    &-company {
        flex-shrink: 0;
        display: flex;
        width: 16.2rem;
        height: 4.6rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &-socials {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4.5rem;

        @media #{$lg} {
            align-items: start;
            gap: 0;
            width: 100%;
        }

        .socials {
            @media #{$lg} {
                position: absolute;
                top: 4rem;
                right: 0;
            }
        }
    }
}