.hero {
    position: relative;
    height: 105rem;
    box-sizing: border-box;
    padding-top: 27.2rem;
    margin-bottom: 13.5rem;

    @media #{$lg} {
        height: 62rem;
        padding-top: 11.8rem;
        margin-bottom: 5.5rem;
        padding-bottom: 2.7rem;
    }

    @media #{$sm} {
        overflow-x: hidden;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 35rem;
        background: linear-gradient(180deg, rgba($color-primary, 0.6), transparent);
        pointer-events: none;
        top: 0;
        left: 0;
    }

    &__wrapper {
        position: relative;
        display: flex;
        gap: 1rem;

        @media #{$lg} {
            flex-direction: column;
            height: 100%;
        }
    }

    &__content {
        @media #{$lg} {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            z-index: 1;
        }

        h2 {
            font-weight: 700;
            font-size: 9rem;
            line-height: 8rem;
            color: #fff;
            margin: 0 0 2.3rem;

            @media #{$lg} {
                font-size: 5.5rem;
                line-height: 5.5rem;
                margin: 0;
            }
        }
    }

    &-buttons {
        display: flex;
        gap: 2.2rem;

        @media #{$lg} {
            gap: 1rem;
        }

        .btn {
            width: 21.4rem;
            padding: 0.5rem 2rem 0;

            @media #{$lg} {
                font-size: 2rem;
                width: 100%;
            }
        }
    }

    &-percent {
        position: relative;
        margin-top: -1rem;

        @media #{$lg} {
            position: absolute;
            margin-top: 0;
            top: 10.7rem;
            left: -3rem;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            width: 26.7rem;
            height: 45rem;
            background: url(../images/svg/hero-percent.svg) no-repeat center / contain;
            z-index: 1;
            transform: translateX(100%);
            top: -1.5rem;
            right: -2.8rem;

            @media #{$lg} {
                content: '%';
                font-weight: 700;
                font-size: 25rem;
                line-height: 100%;
                color: #fff;
                text-shadow: 0 0.4rem 3rem rgba(#000, 0.25);
                width: auto;
                height: auto;
                background: none;
                top: 0;
                right: 0;
            }
        }

        p {
            font-weight: 700;
            font-size: 50rem;
            line-height: 100%;
            color: #fff;
            text-shadow: 0 0.4rem 3rem rgba(#000, 0.25);

            @media #{$lg} {
                font-size: 25rem;
            }
        }
    }

    &-render {
        position: absolute;
        display: flex;
        width: 153.8rem;
        height: auto;
        pointer-events: none;
        right: 0;
        bottom: 0;

        @media #{$lg} {
            width: 100%;
        }

        @media #{$md} {
            width: 50.3rem;
            height: 48rem;
        }

        @media #{$sm} {
            right: auto;
            left: 0;
        }

        picture {
            display: flex;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &-tree {
        position: absolute;
        width: 70.6rem;
        height: 66.8rem;
        pointer-events: none;
        left: 0;
        bottom: -34.5rem;

        @media #{$lg} {
            width: 32rem;
            height: 20.4rem;
            bottom: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 47.8rem;
            height: 35.1rem;
            background: url(../images/tree-bg.png) no-repeat center / contain;
            top: -4.8rem;
            left: 0;

            @media #{$lg} {
                content: none;
            }
        }

        picture {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
                margin-left: -16.2rem;

                @media #{$lg} {
                    margin-left: -5.7rem;
                }
            }
        }
    }

    &-clouds {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow-x: hidden;
        top: 0;
        left: 0;

        img {
            position: absolute;
            width: 94.9rem;
            height: 41.7rem;
            object-fit: contain;
            object-position: center;

            @media #{$lg} {
                width: 52.8rem;
                height: 23.2rem;
            }

            &:first-of-type {
                top: -14.5rem;
                left: -23.6rem;

                @media #{$lg} {
                    top: -4.6rem;
                    left: -1.4rem;
                }
            }

            &:last-of-type {
                top: 0;
                right: -35.2rem;

                @media #{$lg} {
                    display: none;
                }
            }
        }
    }

    &-bg {
        position: absolute;
        display: flex;
        width: 100%;
        height: 102.3rem;
        pointer-events: none;
        z-index: -1;
        top: 0;
        left: 0;

        @media #{$lg} {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}