.menu {
    ul {
        list-style: none;
        display: flex;
        height: 100%;
        padding-left: 0;
        margin: 0;

        li {
            height: 100%;

            a {
                font-weight: 700;
                font-size: 2rem;
                text-decoration: none;
                color: $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                height: 100%;
                padding: 0.3rem 2rem 0;
                transition: all .2s linear;

                &:hover, &.active {
                    color: $color-active;
                }
            }
        }
    }
}