.modal {
    position: fixed;
    width: 100%;
    height: 100dvh;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 101;
    top: 0;
    left: 0;

    @media #{$lg} {
        height: calc(100dvh - 6rem);
        top: 6rem;
    }

    &-opened {
        pointer-events: all;
        opacity: 1;

        .modal__wrapper {
            transform: none;
            @media #{$lg} {
                
            }
        }
    }

    &__wrapper {
        position: relative;
        width: max-content;
        height: 100%;
        background: linear-gradient(90deg, $color-background 27%, rgba($color-background, 0.8) 100%);
        backdrop-filter: blur(10px);
        box-sizing: border-box;
        padding: 5.7rem 9rem 11rem 29.5rem;
        border: rgba(#fff, 0.5) 1rem solid;
        border-radius: 0 17.3rem 17.3rem 0;
        transition: transform .3s ease-in-out;
        transform: translateX(-50%);
        z-index: 1;

        @media #{$lg} {
            width: calc(100% - 2rem);
            padding: 3.5rem 7rem 5.5rem 4.2rem;
            border-left: none;
            border-radius: 0 6rem 6rem 0;
            overflow-y: auto;
        }
        
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-close {
        position: absolute;
        width: 6.3rem;
        height: 6.3rem;
        background: url(../images/svg/close-icon.svg) no-repeat center / contain;
        padding: 0;
        border: none;
        cursor: pointer;
        z-index: 1;
        top: 3rem;
        left: 4rem;

        @media #{$lg} {
            width: 3.7rem;
            height: 3.7rem;
            background: url(../images/svg/close-mob-icon.svg) no-repeat center / contain;
            top: 1.6rem;
            left: auto;
            right: 2rem;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 1;

        @media #{$lg} {
            gap: 3.5rem;
        }
    }

    &__logo {
        display: flex;
        width: 25.5rem;
        height: 8rem;
        margin-bottom: 8.8rem;

        @media #{$lg} {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: auto;

        @media #{$lg} {
            gap: 7.5rem;
        }

        .socials {
            @media #{$lg} {
                margin-left: 11rem;
            }

            &__item {
                @media #{$lg} {
                    background-color: rgba(#fff, 0.5);
                }

                &:hover {
                    @media #{$lg} {
                        background-color: rgba($color-active, 0.8);
                    }
                }
            }
        }
    }

    &-decor {
        position: absolute;
        display: flex;
        width: 51.2rem;
        height: 47.8rem;
        pointer-events: none;
        left: -18.5rem;
        bottom: 8rem;

        @media #{$lg} {
            width: 23.8rem;
            height: 22.2rem;
            left: -8.7rem;
            bottom: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 25.7rem;
            height: 29.2rem;
            background: url(../images/svg/pattern.svg) no-repeat center / contain;
            opacity: 0.7;
            transform: translate(-50%, -50%);
            top: calc(50% + 1rem);
            left: 50%;

            @media #{$lg} {
                width: 12rem;
                height: 13.5rem;
                top: 50%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &-space {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        @media #{$lg} {
            background-color: rgba(#000, 0.3);
        }
    }
}