.phone {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.7rem;

    @media #{$lg} {
        align-items: start;
        gap: 0.8rem;
    }

    &__image {
        display: flex;
        width: 3.4rem;
        height: 3.4rem;

        @media #{$lg} {
            width: 2.4rem;
            height: 2.4rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 1rem;

        @media #{$lg} {
            margin-top: 0.4rem;
        }
    }

    &-call {
        font-weight: 700;
        font-size: 3rem;
        line-height: 2rem;
        color: $color-primary;

        @media #{$lg} {
            font-size: 2rem;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &-order {
        font-weight: 700;
        font-size: 2rem;
        background-image: linear-gradient(90deg, $color-active-secondary, #95BF3B, $color-active-secondary);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media #{$lg} {
            font-size: 1.5rem;
        }

        &:hover {
            background-position: right;
        }
    }
}