.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    height: 100dvh;
    box-sizing: border-box;
    padding: 10rem 0;
    transition: all .2s linear;
    pointer-events: none;
    z-index: 100;
    top: 0;
    left: 0;
    
    &-invisible {
        opacity: 0;

        * {
            pointer-events: none !important;
        }
    }

    &__logo {
        display: flex;
        width: 4.8rem;
        height: 5.5rem;
        margin-left: 1.5rem;
        margin-bottom: 2.9rem;
        pointer-events: all;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__burger-btn {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 3.1rem;
        height: 2.2rem;
        background-color: transparent;
        padding: 0;
        border: none;
        margin-left: 2rem;
        pointer-events: all;
        cursor: pointer;

        &:hover {
            span {
                background-color: $color-active;
            }
        }

        span {
            width: 100%;
            height: 0.2rem;
            background-color: $color-active-secondary;
            transition: all .2s linear;

            &:first-of-type {
                width: 2.2rem;
            }
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        padding-left: 2rem;
    }

    &__btn {
        writing-mode: sideways-lr;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        width: 6.8rem;
        background-color: rgba(#fff, 0.6);
        backdrop-filter: blur(5px);
        box-sizing: border-box;
        padding: 4.6rem 0 2.2rem;
        border: rgba(#fff, 0.9) 0.2rem solid;
        border-radius: 10rem;
        pointer-events: all;
        transition: all .2s linear;

        &:hover {
            background-color: rgba(lightgreen, 0.3);
            border-color: rgba($color-active, 0.9);
        }
        
        span {
            font-weight: 700;
            font-size: 1.8rem;
            color: $color-text;
            padding-left: 0.3rem;
            transition: all .2s linear;
        }

        svg {
            width: 3.6rem;
            height: 3.6rem;

            path {
                transition: all .2s linear;
            }
        }
    }
}